<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/uniform.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/select2.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-style.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-media.css" />
<link href="__STATIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='__STATIC__/admin/css/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/css.css" />
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__STATIC__/admin/js/jquery-1.7.1.js"></script> 
<script src="__STATIC__/admin/js/public.js"></script> 
<script type="text/javascript">
<!--
$(function(){
	//用户批量删除时,得到所选所有ID,用,号连接发送到控制器
	$('[name=delall]').click(function(){
		var ids = '';
		nums = 0;
		$('[name=del]').each(function(){	
			if ($(this).attr('checked')=='checked'){
				ids+=$(this).attr('id')+',';
				nums = nums+1;
			}		
		})
		
		if (confirm('你确定要删除这 '+nums+' 条记录吗')){
			location.href="__URL__/deletes?id="+ids;
		}
	})
	//快速转换已发布和未发布
	$('[name=fb]').click(function(){
		var value = $(this).attr('class');
		var id = $(this).attr('id');
		$(this).removeClass();
		if (value=='nfb'){
			$(this).addClass('yfb').text('已发布');	
			$.post('__URL__/fb',{id:id});
		}else{
			$(this).addClass('nfb').text('未发布');
			$.post('__URL__/fb',{id:id});	
		}
	})
})
//-->
</script>
<style type="text/css">
.nfb{color:#444; font-weight:900}	
.yfb{color:green;}
p{display:inline;margin:0; padding:0; color:red;}
.imgclass{max-width:50px; max-height:50px;}
</style>

<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> 
			<a href="#"  class="tip-bottom">
				<i class="icon-home"></i>
				后台管理
			</a> 
			<a href="#" class="current">产品展示管理</a> <a href="#" class="current">产品展示列表</a> 
		</div>
		<h1>产品展示列表</h1>
	</div>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">

				<div class="widget-box">
					<div class="widget-title"> 
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="alldel" />
							<input type="button" name="delall" value="批量删除" style="display:none" class="btn btn-danger btn-mini">
						</span>
						<h5>产品展示列表</h5>
						<form action="{:url('products/index')}" method="get">

							按 <select name="search_bzb" style="width:80px;margin-top:7px;">
								<option {php}  if(isset($_GET['search_bzb'])) echo  ($_GET['search_bzb']=='name') ? 'selected=selected' : "";  {/php} value="name">标题</option>
								
								<option {php}  if(isset($_GET['search_bzb'])) echo ($_GET['search_bzb']=='webtitle') ? 'selected=selected' : "";  {/php} value="webtitle">网站标题</option>
								<option {php}  if(isset($_GET['search_bzb'])) echo ($_GET['search_bzb']=='webkeys') ? 'selected=selected' : "";  {/php} value="webkeys">网站关键词</option>
								<option {php}  if(isset($_GET['search_bzb'])) echo ($_GET['search_bzb']=='webdesc') ? 'selected=selected' : "";  {/php} value="webdesc">网站描述</option>
								<option {php}  if(isset($_GET['search_bzb'])) echo ($_GET['search_bzb']=='id') ? 'selected=selected' : "";  {/php} value="id">编号</option>
							</select>
							<input type="text" name="bzb" class="inp span3" style="width:70px;margin-top:7px;" placeholder="关键词" value="{$Think.get.bzb}">&nbsp;&nbsp;
							
							按 <select name="search_tdb" style="width:90px;margin-top:7px;">
								<option {php} if(isset($_GET['search_tdb'])) echo ($_GET['search_tdb']=='update_time') ? 'selected=selected' : "";  {/php} value="update_time">添加时间</option>
								<option {php} if(isset($_GET['search_tdb'])) echo ($_GET['search_tdb']=='id') ? 'selected=selected' : "";  {/php} value="id">编号</option>
							</select>

							进行 <select name="order" style="width:60px;margin-top:7px;">
								<option {php} if(isset($_GET['order'])) echo ($_GET['order']=='desc') ? 'selected=selected' : "";  {/php} value="desc">降序</option>
								<option {php} if(isset($_GET['order'])) echo ($_GET['order']=='asc') ? 'selected=selected' : "";  {/php} value="asc">升序</option>
							</select>

							<select name="status" style="width:90px;margin-top:7px;">
								<option value="void">发布状态</option>
								<option {php} if(isset($_GET['status'])) echo ($_GET['status']=='1') ? 'selected=selected' : "";  {/php} value="1">已发布</option>	
								<option {php} if(isset($_GET['status'])) echo ($_GET['status']=='0') ? 'selected=selected' : "";  {/php} value="0">未发布</option>
							</select>

							<select name="type_id" style="width:90px;margin-top:7px;">
								<option value="void">分类</option>
								{volist name="type" id="t"}
									<option {php} if(isset($_GET['type_id'])) echo ($_GET['type_id']==$t['id']) ? 'selected=selected' : "";  {/php} value="{$t['id']}">{$t.typename}</option>
								{/volist}
							</select>

							<input type="submit" name="search" value="查询" class="btn btn-success">
						</form>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped with-check">
							<thead>
								<tr>
									<th width="5%"><i class="icon-resize-vertical"></i></th>
									<th width="5%">编号</th>
									<th width="15%">产品首页图</th>
									<th width="15%">标题</th>
									<th width="10%">分类</th>
									<th width="15%">最近更新</th>
									<th width="7%">状态</th>
									<th width="10%">操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="list" id="vo"} 
									<tr>
										<td width="5%"><input type="checkbox" name="del" id="{$vo.id}"></td>
										<td width="5%">{$vo.id}</td>
										<td width="8">
											{if condition="$vo->get_img($vo['id']) neq false"}
													<img src="__PUBLIC__/uploads/admin/products/{$vo->get_img($vo['id'])[0]['img']}" style="width:50px;height:50px;">
											{/if}	
										</td>
										<td width="30%">
											{if condition="$vo['commend'] eq 1"}
												<php> <span style="color:#ff0000">[推荐]</span> </php>
											{/if}	
											<a href="{:url('products/edit?id='.$vo['id'])}">{$vo.name}</a>

										</td>
										<td width="15%">{$vo->getonetype($vo.type_id)['typename']}</td>
										<td width="10%">{$vo->update_time}</td>
										<td width="7%">
											{if condition="$vo['status'] eq 0"}
												<span class="nfb" name="fb" id="'.$vo['id'].'">未发布</span>
											{else /}	
												<span class="yfb" name="fb" id="'.$vo['id'].'">已发布</span>
											{/if}
										</td>

										<td width="10%">
											<span>
												<a href="{:url('products/edit?id='.$vo['id'])}" class="btn btn-info">修改</a>
												<a href="{:url('products/delete?id='.$vo['id'])}" class="btn btn-danger" onClick="return confirm('您确定要将它删除吗')">删除</a>
											</span>
										</td>
									</tr>
								{/volist}
							</tbody>
						</table>
						<center class="pagination">
							{$list->render()}
						</center>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script src="__STATIC__/admin/js/jquery.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__STATIC__/admin/js/bootstrap.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.uniform.js"></script> 
<!-- <script src="__STATIC__/admin/js/select2.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.dataTables.min.js"></script>  -->
<script src="__STATIC__/admin/js/matrix.js"></script> 
<script src="__STATIC__/admin/js/matrix.tables.js"></script>





<script src="__STATIC__/admin/My97DatePicker/WdatePicker.js"/></script>



<script src="__STATIC__/admin/js/bootstrap-colorpicker.js"></script> 
<script src="__STATIC__/admin/js/bootstrap-datepicker.js"></script> 
<script src="__STATIC__/admin/js/jquery.toggle.buttons.html"></script> 
<script src="__STATIC__/admin/js/masked.js"></script> 

<!--  <script src="__STATIC__/admin/js/select2.min.js"></script>  -->

<script src="__STATIC__/admin/js/matrix.form_common.js"></script> 
<script src="__STATIC__/admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__STATIC__/admin/js/jquery.peity.min.js"></script> 
<script src="__STATIC__/admin/js/bootstrap-wysihtml5.js"></script> 
