{include file="public/header"}
<div class="banner" style="background:url(__PUBLIC__/uploads/admin/image/{$image['img']}) no-repeat center top">
</div>
     
     
     
     <div class="inWrap clearfix">
        <div class="leftWrap">

 
            
<div class="leftNav">
    <ul>
        <li class='cur'><a href='/chanpinzhongxin/tuijianchanpin/'>推荐产品</a> </li>
 <li><a href='/chanpinzhongxin/chanpinpinpai/'>产品品牌</a> </li>

 <li><a href='/chanpinzhongxin/chanpinfenlei/'>产品分类</a> </li>
           
    </ul>
</div>
            
  
<script src="/style/js/layer-l/layer.js" type="text/javascript"></script>
<script src="/style/js/order.js" type="text/javascript"></script>

        </div>
        
        <div class="rightWrap">
            <div class="smlNav">
                <span class="name">推荐产品</span>
                <div class="right">
                    当前所在位置：<a href=''>首页</a> > <a href='/chanpinzhongxin/'>产品中心</a> > <a href='/chanpinzhongxin/tuijianchanpin/'>推荐产品</a> > 
                </div>
            </div>
            <div class="contentTxt aboutTxt">
                
      
         <div class="lista">
            
<ul class="clearfix">
                
                 <li><a href="{:url('/a/d?id=1')}" title="EYC THS30X系列 "><img src="__PUBLIC__/static/index/picture/1-1G1011022564B.png" width="172" height="172" alt="" /><span>EYC THS30X系列 </span> </a></li>



<li><a href="/wendu/ludian/2017/0901/629.html" title="EYC THS86/87系列 "><img src="__PUBLIC__/static/index/picture/1-1FZ1143453S1.jpg" width="172" height="172" alt="" /><span>EYC THS86/87系列 </span> </a></li>
<li><a href="/eryanghuatan/20170901/630.html" title="EYC GMS30系列 "><img src="__PUBLIC__/static/index/picture/1-1FZ1151Q22b.png" width="172" height="172" alt="" /><span>EYC GMS30系列 </span> </a></li>
<li><a href="/wendu/shidu/2015/1108/310.html" title="HF5XX系列 "><img src="__PUBLIC__/static/index/picture/1-15110Q630050-L.jpg" width="172" height="172" alt="" /><span>HF5XX系列 </span> </a></li>
<li><a href="/wendu/shidu/2015/1112/338.html" title="温湿度手持表 "><img src="__PUBLIC__/static/index/picture/1-1511121523400-L.jpg" width="172" height="172" alt="" /><span>温湿度手持表 </span> </a></li>
<li><a href="/chanpinzhongxin/chanpinfenlei/fenxiyibiao/shuifenh/2015/1125/482.html" title="HP23-AW-A "><img src="__PUBLIC__/static/index/picture/1-1511251621320-L.jpg" width="172" height="172" alt="" /><span>HP23-AW-A </span> </a></li>
<li><a href="/wendu/wendu/2015/1120/394.html" title=" PR5331A "><img src="__PUBLIC__/static/index/picture/1-1511201531570-L.jpg" width="172" height="172" alt="" /><span> PR5331A </span> </a></li>
<li><a href="/chanpinzhongxin/chanpinfenlei/qita/2017/0901/626.html" title="进气压力传感器 "><img src="__PUBLIC__/static/index/picture/1-1FZ11401451Y.jpg" width="172" height="172" alt="" /><span>进气压力传感器 </span> </a></li>
<li><a href="/wujingongju/20160713/603.html" title="HUBA699系列 "><img src="__PUBLIC__/static/index/picture/1-160G30952290-L.jpg" width="172" height="172" alt="" /><span>HUBA699系列 </span> </a></li>
<li><a href="/chanpinzhongxin/chanpinfenlei/cizhishensuo/2015/1124/447.html" title="位移SDM7100 "><img src="__PUBLIC__/static/index/picture/1-1511241330290-L.jpg" width="172" height="172" alt="" /><span>位移SDM7100 </span> </a></li>
<li><a href="/wendu/ludian/2015/1109/312.html" title="DMT242露点变送器 "><img src="__PUBLIC__/static/index/picture/1-1511091Q9110-L.jpg" width="172" height="172" alt="" /><span>DMT242露点变送器 </span> </a></li>
<li><a href="/wendu/ludian/2015/1105/307.html" title="EA2-TX在线式露点 "><img src="__PUBLIC__/static/index/picture/1-1511051950190-L.jpg" width="172" height="172" alt="" /><span>EA2-TX在线式露点 </span> </a></li>
 
                 
               
  
                        
                </ul>
  </div>
         
         
         <div class="page">
   <ul class="pagelist">
    <li><span class="pageinfo">共 <strong>0</strong>页<strong>0</strong>条记录</span></li>

   </ul>
  </div>     
         
            </div>
        </div>
    </div>
{include file="public/bottom"}