<div class="clear"></div>
<div class="foot">
        
        <div class="foot_cen">
            <div class="foot_cen_1">
            
            
<a href='/guanyuwomen/'  rel='dropmenu27'>关于我们</a>|

<a href='/chanpinzhongxin/'  rel='dropmenu30'>产品中心</a>|

<a href='/yingyonganli/'  rel='dropmenu34'>应用案例</a>|

<a href='/xinwenzhongxin/'  rel='dropmenu37'>新闻中心</a>|

<a href='/ziliaoxiazai/'  rel='dropmenu40'>资料下载</a>|

<a href='/lianxiwomen/'  rel='dropmenu44'>联系我们</a>|
 
            

            </div>
            <div class="foot_cen_2">
                <ul><li>版权所有：北京中宝辰科技有限公司<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src=" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb230c77b42d327552bced0465f51a7ef type=text/javascript%3E%3C/script%3E")) </script>　　京ICP备15012645号-2        技术支持：北京乐火科技</li> </ul>
            </div>
        </div>
      
</div> 


<!--======版权 end===========-->   
</div>


<link rel="stylesheet" href="/style/style/kefu.css">
<div style="top: 160px; left: -152px;z-index:999999999; position: absolute;" id="xixi" onMouseOver="toBig()" onMouseOut="toSmall()">

<div style="width:157px; float:left;">
        <div class="main_head"><img src="__STATIC__/index/picture/2.png" border="0"></div>
        <div class="info">
          <p style="padding-top:10px;" align="center"><img src="__STATIC__/index/picture/kefu_head.gif" border="0"></p>
<p style="height:35px;" align="center">
<a href="tencent://message/?uin=528050000&Site=&Menu=yes"><img src="__STATIC__/index/picture/qqkf01.jpg"  height="26" border="0" width="110"></a>
</p>
<p style="height:35px;" align="center">
<a href="tencent://message/?uin=986657862&Site=&Menu=yes"><img src="__STATIC__/index/picture/qqkf01.jpg" height="26" border="0" width="110"></a>
</p>          
<p style="height:35px;" align="center">
<a href="tencent://message/?uin=&Site=&Menu=yes"><img src="__STATIC__/index/picture/qqkf01.jpg" height="26" border="0" width="110"></a>
</p>

                <p style="line-height:20px; padding-top:25px; padding-bottom:15px; " align="center">全国服务热线<br>
                  <span style="color:#F00; font-size:18px; font-weight:bold;">010-61705152 </span><br>
                  <span style="color:#F00; font-size:18px; font-weight:bold;"></span>
                  </p>
                
        </div>
        <div class="down_kefu" style="height:8px;"></div>
</div>
  
  <div class="Obtn"></div>
</div>


 
<script type="text/javascript" src="/style/js/kefu.js"></script>
<!-- footer end here -->


</body>
</html>
