<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/uniform.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/select2.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-style.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-media.css" />
<link href="__STATIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='__STATIC__/admin/css/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css" />

<script src="__STATIC__/admin/js/jquery-1.7.1.js"></script> 
<script src="__STATIC__/admin/js/public.js"></script> 
<script type="text/javascript">
<!--
$(function(){
	//用户批量删除时,得到所选所有ID,用,号连接发送到控制器
	$('[name=delall]').click(function(){
		var ids = '';
		nums = 0;
		$('[name=del]').each(function(){	
			if ($(this).attr('checked')=='checked'){
				ids+=$(this).attr('id')+',';
				nums = nums+1;
			}		
		})
		
		if (confirm('你确定要删除这 '+nums+' 条记录吗')){
			location.href="__URL__/deletes?id="+ids;
		}
	})
	//快速转换已发布和未发布
	$('[name=fb]').click(function(){
		var value = $(this).attr('class');
		var id = $(this).attr('id');
		$(this).removeClass();
		if (value=='nfb'){
			$(this).addClass('yfb').text('已发布');	
			$.post('__URL__/fb',{id:id});
		}else{
			$(this).addClass('nfb').text('未发布');
			$.post('__URL__/fb',{id:id});	
		}
	})
})
//-->
</script>
<style type="text/css">
.nfb{color:#444; font-weight:900}	
.yfb{color:green;}
p{display:inline;margin:0; padding:0; color:red;}
.imgclass{max-width:50px; max-height:50px;}
</style>

<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> 
			<a href="#"  class="tip-bottom">
				<i class="icon-home"></i>
				后台管理
			</a> 
			<a href="#" class="current">分类管理</a> <a href="#" class="current">分类列表</a> 
		</div>
		<h1>分类列表</h1>
	</div>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">

				<div class="widget-box">
					<div class="widget-title"> 
						<span class="icon">
							<input type="checkbox" id="title-checkbox" name="alldel" />
							<input type="button" name="delall" value="批量删除" style="display:none" class="btn btn-danger btn-mini">
						</span>
						<h5>分类列表</h5>
						<form action="{:url('typelist')}" method="get" style='display: ;'>

							按 <select name="search_bzb" style="width:80px;margin-top:7px;">
								<option <php>echo ($_GET['search_bzb']=='typename') ? 'selected=selected' : ""; </php> value="typename">分类</option>
								<option <php>echo ($_GET['search_bzb']=='id') ? 'selected=selected' : ""; </php> value="id">编号</option>
							</select>
							<input type="text" name="bzb" class="inp span3" style="width:70px;margin-top:7px;" placeholder="关键词" value="{$Think.get.bzb}">&nbsp;&nbsp;
							
							按 <select name="search_tdb" style="width:90px;margin-top:7px;">
								<option <php>echo ($_GET['search_tdb']=='add_time') ? 'selected=selected' : ""; </php> value="add_time">添加时间</option>
								<option <php>echo ($_GET['search_tdb']=='commend') ? 'selected=selected' : ""; </php> value="commend">权重</option>
								<option <php>echo ($_GET['search_tdb']=='id') ? 'selected=selected' : ""; </php> value="id">编号</option>
							</select>

							进行 <select name="order" style="width:60px;margin-top:7px;">
								<option <php>echo ($_GET['order']=='desc') ? 'selected=selected' : ""; </php> value="desc">降序</option>
								<option <php>echo ($_GET['order']=='asc') ? 'selected=selected' : ""; </php> value="asc">升序</option>
							</select>

							<select name="sh" style="width:90px;margin-top:7px;">
								<option value="status">发布状态</option>
								<option <php>echo ($_GET['sh']=='1') ? 'selected=selected' : ""; </php> value="1">已发布</option>	
								<option <php>echo ($_GET['sh']=='0') ? 'selected=selected' : ""; </php> value="0">未发布</option>
							</select>
							<input type="submit" name="search" value="查询" class="btn btn-success">
						</form>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped with-check">
							<thead>
								<tr>
									<th width="5%"><i class="icon-resize-vertical"></i></th>
									<th width="5%">编号</th>
									<th widht="10%">权重</th>
									<th width="15%">分类</th>
									<th width="15%">添加时间</th>
									<th width="10%">操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="list" id="vo"} 
									<tr>
										<td width="5%"><input type="checkbox" name="del" id="{$vo.id}"></td>
										<th width="5%">{$vo.id}</th>
										<td width="10%"><input style="border:1px gray solid; width:40%;float:left;margin-left:20px;" type="text" name="commend" value="{$vo.commend}" style="width:60px;" onblur="changecommend($(this).val(),{$vo.id},'Stype')" /><div id="1_{$vo.id}" style="color:red;" ></div></td>
								
										<td width="15%">
											<a href="{:url('editnews?id=')}{$vo.id}">{$vo.typename}</a>
										</td>
										<td width="15%">{$vo.create_time}</td>
										<td width="10%">
											<span>
												<a href="{:url('Ntype/edit?id='.$vo['id'])}" class="btn btn-info">修改</a>
												<a href="{:url('Ntype/delete?id='.$vo['id'])}" class="btn btn-danger" onClick="return confirm('您确定要将它删除吗')">删除</a>
											</span>
										</td>
									</tr>
								{/volist}
							</tbody>
						</table>
						<center class="pages">
							{$list->render()}
						</center>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- js中 获取路径的 hidden  所有的权重 在Type下 ajax修改 -->
<input type="hidden" name="commend_path" value="{:url('Courset/quickcommend')}">
<script src="__STATIC__/admin/js/commend.js"></script>
<script src="__STATIC__/admin/js/jquery.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__STATIC__/admin/js/bootstrap.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.uniform.js"></script> 
<!-- <script src="__STATIC__/admin/js/select2.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.dataTables.min.js"></script>  -->
<script src="__STATIC__/admin/js/matrix.js"></script> 
<script src="__STATIC__/admin/js/matrix.tables.js"></script>
