
<!DOCTYPE html>

<html lang="en">

<head>

    <title>网站管理后台</title><meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css" />

    <link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-responsive.min.css" />

    <link rel="stylesheet" href="__STATIC__/admin/css/matrix-login.css" />

    <link href="__STATIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <script src="__STATIC__/admin/js/jquery.min.js"></script>  

    <script src="__STATIC__/admin/js/login.js"></script>  

    <script src="__STATIC__/admin/js/jquery-1.10.2.js"></script>

   

    <input type="hidden" value="{:url('/a/validlogin')}" name="js_path">

    <input type="hidden" value="{:url('/i/index')}" name="js_location">

</head>

<body>

    <div class="head">

        <a href="http://www.bjxiaoyu.com" class="logo" target="_blank"><img src="__STATIC__/admin/img/logo1.png" alt="Logo" /></a>

        <div class="tel">010-5365-3700</div>

    </div>

    <div id="loginbox">            

        <form id="loginform" name="loginForm" class="form-vertical" method="post" action="">

            <div class="control-group normal_text"> 

                <h3>中国 ● 北京小鱼在线网站后台管理系统</h3>

            </div>



            <div class="control-min">

                <div class="control-group">

                    <div class="controls">

                        <div class="main_input_box">

                            <span class="add-on bg_lg"><i class="icon-user"></i></span>

                            <input type="text" placeholder="用户名" name="login[username]"/>

                        </div>

                    </div>

                </div>



                <div class="control-group">

                    <div class="controls">

                        <div class="main_input_box">

                            <span class="add-on bg_ly"><i class="icon-lock"></i></span>

                            <input type="password" placeholder="密码" name="login[password]"/>

                        </div>

                    </div>

                </div>

                <div class="form-actions">

                    <span class="pull-left">

                        <a href="http://www.bjxiaoyu.com" class="btn btn-info" target="_blank">忘记密码？</a>

                    </span>

                    <span class="pull-left pull-ll">

                        <input type="checkbox" class="" value="" name="member"/>

                        记住密码

                    </span>

                    <span class="pull-right">

                        <input type="button" class="btn btn-success" value="登录" id="form_login_status" onclick="login_suc()" />

                    </span>

                </div>

            </div>

        </form>

    </div>

    <div class="bot">

        咨询热线：010-5365-3700&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2009-2017&nbsp;&nbsp;&nbsp;&nbsp;All right reserved&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.bjxiaoyu.com" target="_blank">小鱼在线</a>

    </div>

</body>

</html>



