<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/uniform.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/select2.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-style.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-media.css" />
<link href="__STATIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="__STATIC__/admin/css/css?family=Open+Sans:400,700,800" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css" />

<script src="__STATIC__/admin/js/jquery-1.7.1.js"></script> 
<script src="__STATIC__/admin/js/public.js"></script> 
<script type="text/javascript">
<!--
$(function(){
    //用户批量删除时,得到所选所有ID,用,号连接发送到控制器
    $('[name=delall]').click(function(){
        var ids = '';
        nums = 0;
        $('[name=del]').each(function(){    
            if ($(this).attr('checked')=='checked'){
                ids+=$(this).attr('id')+',';
                nums = nums+1;
            }       
        })
        
        if (confirm('你确定要删除这 '+nums+' 条记录吗')){
            location.href="__URL__/deluser?rid="+ids;
        }
    })
})
//-->
</script>


<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> 
            <a href="#"  class="tip-bottom">
                <i class="icon-home"></i>
                后台管理
            </a> 
            <a href="#" class="current">后台用户管理</a> <a href="#" class="current">用户列表</a> 
        </div>
        <h1>用户列表</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-box">
                    <div class="widget-title"> 
                        <span class="icon">
                            <input type="checkbox" id="title-checkbox" name="alldel" />
                            <input type="button" name="delall" value="批量删除" style="display:none" class="btn btn-danger btn-mini">
                        </span>
                        <h5>用户列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                                <tr>
                                    <th><i class="icon-resize-vertical"></i></th>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>上次登录时间</th>
                                    <th>上次登录IP</th>
                                    <th>所属用户组</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="list" id="vo"}
                                    <tr>
                                        <td><input type="checkbox" name="del" id="{$vo.id}"/></td>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.user_name}</td>
                                        <td>{if condition="$vo.last_login_time neq false"}
                                                {$vo.last_login_time|date='Y-m-d H:i:s',###}
                                            {else /}
                                                未登录
                                            {/if}    
                                        </td>
                                        <td>{$vo.login_ip}</td>
                                        <td>{$vo->get_user_role($vo.id)['name']}</td>
                                        <td>
                                            <a href="{:url('/u/uedit/id/'.$vo['id'])}" class="btn btn-info">修改</a>
                                            <a href="{:url('/u/deleuser/?id='.$vo['id'])}" class="btn btn-danger" onClick="return confirm('您确定要将它删除吗')">删除</a>
                                        </td>
                                    </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/admin/js/jquery.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__STATIC__/admin/js/bootstrap.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.uniform.js"></script> 
<script src="__STATIC__/admin/js/select2.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.dataTables.min.js"></script> 
<script src="__STATIC__/admin/js/matrix.js"></script> 
<script src="__STATIC__/admin/js/matrix.tables.js"></script>
