<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/uniform.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/select2.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-style.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-media.css" />
<link href="__STATIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="__STATIC__/admin/css/css?family=Open+Sans:400,700,800" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css" />


<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> 
            <a href="#" class="tip-bottom">
                <i class="icon-home"></i>
                后台管理
            </a> 
            <a href="#" class="current">后台用户管理</a> <a href="#" class="current">用户列表</a>
        </div>
        <h1>用户编辑</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">




            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"> 
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>修改用户</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="{:url('/u/usave')}" method="post" class="form-horizontal" id="form_1">
                            <div class="control-group">
                                <label class="control-label">用户名：</label>
                                <div class="controls">
                                    <input type="text" name="user_name" class="span11" placeholder="用户名" value="{$user.user_name}">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">密码：</label>
                                <div class="controls">
                                    <input type="password" name="password" class="span11" placeholder="密码">
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">所属用户组：</label>
                                <div class="controls">
                                    <select name="class">
                                        {volist name="role" id="vo"}
                                            <option value="{$vo.id}" {if condition="$vo['id'] eq $userrole['role_id']"} selected="selected" {/if} />{$vo['space']|str_repeat="--",###}{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>

                            <div class="form-actions">
                                <input type="hidden" name="id" value="{$user.id}"></input>
                                <button type="button" class="btn btn-success" id="btn_danger" >保存</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script src="__STATIC__/admin/js/jquery.min.js"></script> 
<script type="text/javascript">
  //管理员填写表单的验证
$('#btn_danger').click(function(){
  var user = $('[name="user_name"]').val();
  var pass = $('[name="password"]').val();
  var clas = $('[name="class"]').val();
  if(user != '' && pass != '' && clas != '')$('#form_1').submit();
  if(user == '' || pass == '' || clas == '')alert('请完整填写表单');
})
</script>


<script src="__STATIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__STATIC__/admin/js/bootstrap.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.uniform.js"></script> 
<script src="__STATIC__/admin/js/select2.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.dataTables.min.js"></script> 
<script src="__STATIC__/admin/js/matrix.js"></script> 
<script src="__STATIC__/admin/js/matrix.tables.js"></script>