
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/uniform.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/select2.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-style.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-media.css" />
<link href="__STATIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="__STATIC__/admin/css/css?family=Open+Sans:400,700,800" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css" />


<div id="content" style="height:100%">
	<div class="content" style="width: 1000px;  height: 592px;">
       <ul class="index">
          <li>
             <a href="{:url('Baseconfig/index')}" target="right">
                <img src="__STATIC__/admin/img/1.png" width="110" height="110" alt="基本信息管理">
			</a>
            <p>
             <a href="{:url('Baseconfig/index')}" target="right">基本信息管理</a>
            </p>
            <!--<img class="close" name="close" src="__STATIC__/admin/img/close.png">-->
          </li>
		  
          <li>
             <a href="{:url('Banner/index')}" target="right">
                <img src="__STATIC__/admin/img/2.png" width="110" height="110" alt="Banner图管理">
			</a>
            <p>
             <a href="{:url('Banner/index')}" target="right">首页轮播图管理</a>
            </p>
           <!-- <img class="close" name="close" src="__STATIC__/admin/img/close.png">-->
          </li>
		  <li>
             <a href="http://tongji.baidu.com/web/welcome/login" target="right">
                <img src="__STATIC__/admin/img/3.png" width="110" height="110" alt="百度统计功能">
			</a>
            <p>
             <a href="http://tongji.baidu.com/web/welcome/login" target="right">百度统计功能</a>
            </p>
            <!--<img class="close" name="close" src="__STATIC__/admin/img/close.png">-->
          </li>
		  <li>
             <a href="http://www.7c.com/siteall/ " target="right">
                <img src="__STATIC__/admin/img/4.png" width="110" height="110" alt="SEO综合信息">
			</a>
            <p>
             <a href="http://www.7c.com/siteall/ " target="right">SEO综合信息</a>
            </p>
            <!--<img class="close" name="close" src="__STATIC__/admin/img/close.png">-->
          </li>
		  <li>
             <a href="http://xiuxiu.web.meitu.com/main.html " target="right">
                <img src="__STATIC__/admin/img/5.png" width="110" height="110" alt="在线图片编辑">
			</a>
            <p>
             <a href="http://xiuxiu.web.meitu.com/main.html " target="right">在线图片编辑</a>
            </p>
            <!--<img class="close" name="close" src="__STATIC__/admin/img/close.png">-->
          </li>









        </ul>
    </div>


</div>

<script src="__STATIC__/admin/js/jquery.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__STATIC__/admin/js/bootstrap.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.uniform.js"></script> 
<script src="__STATIC__/admin/js/select2.min.js"></script> 
<script src="__STATIC__/admin/js/jquery.dataTables.min.js"></script> 
<script src="__STATIC__/admin/js/matrix.js"></script> 
<script src="__STATIC__/admin/js/matrix.tables.js"></script>