<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/uniform.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/select2.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-style.css" />
<link rel="stylesheet" href="__STATIC__/admin/css/matrix-media.css" />
<link href="__STATIC__/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='__STATIC__/admin/css/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="__STATIC__/admin/css/admin.css" />
<script src="__STATIC__/admin/js/jquery.min.js"></script> 
<script type="text/javascript">
	$(function(){
	$('#editpic').click(function(){
		$("#file").append('<input type="file" name="img"/>');
		$('#editpic').hide();
		$('input[type=checkbox],input[type=radio],input[type=file]').uniform();
		$('select').select2();
		$('.colorpicker').colorpicker();
		$('.datepicker').datepicker();
	})
})
</script>

<style>
	.editimg{ max-width:400px;}
</style>
<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> 
			<a href="#" class="tip-bottom">
				<i class="icon-home"></i>
				后台管理
			</a> 
			<a href="#" class="current">图片管理</a> <a href="#" class="current">图片列表</a>
		</div>
		<h1>添加图片</h1>
	</div>
	<div class="container-fluid">
		<hr>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> 
						<span class="icon"> <i class="icon-align-justify"></i> </span>
						<h5>添加图片</h5>
					</div>
					<div class="widget-content nopadding">
						<form action="{:url('Image/usave')}" method="post" class="form-horizontal" enctype="multipart/form-data">
							<div class="control-group">
								<label class="control-label">图片位置：</label>
								<div class="controls">
									<input type="text" name="address" class="span6" placeholder="图片位置" value="{$list.address}">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">标题：</label>
								<div class="controls">
									<input type="text" name="name" class="span6" placeholder="标题" value="{$list.name}">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">链接地址：</label>
								<div class="controls">
									<input type="text" name="url" class="span6" placeholder="链接地址" value="{$list.url}">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">图片：</label>
								<div class="controls">
									{if condition="$list.img eq ''"}
										<input type="file" name="img"/>
									{else /}
										<img src="__PUBLIC__/uploads/admin/image/{$list['img']}" class="editimg">
										<br/><br/>
										<a href="javascript:void(0)" class="btn btn-primary btn-mini" id="editpic">更换</a>
									{/if}
	
									<span id="file"></span><span style="color:red;">尺寸:100*100,大小：1M以内.</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">图片尺寸：</label>
								<div class="controls">
									<input type="text" name="px" class="span6" placeholder="图片尺寸" value="{$list.px}">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">发布时间：</label>
								<div class="controls">

										<input type="text" class="span3" name="update_time" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="26" value="<?php echo date('Y-m-d H:i:s',time());?>"/>
								</div>
							</div>
							<div class="form-actions">
									<input type="hidden" value="{$list.id}" name="id">
								<button type="submit" class="btn btn-success">保存</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__STATIC__/admin/My97DatePicker/WdatePicker.js"/></script>

<script src="__STATIC__/admin/js/jquery.ui.custom.js"></script> 
<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/js/bootstrap-colorpicker.js"></script> 
<script src="__STATIC__/admin/js/bootstrap-datepicker.js"></script> 
<script src="__STATIC__/admin/js/jquery.toggle.buttons.html"></script> 
<script src="__STATIC__/admin/js/masked.js"></script> 
<script src="__STATIC__/admin/js/jquery.uniform.js"></script>
<script src="__STATIC__/admin/js/matrix.js"></script> 
<script src="__STATIC__/admin/js/matrix.form_common.js"></script> 
<script src="__STATIC__/admin/js/wysihtml5-0.3.0.js"></script> 
<script src="__STATIC__/admin/js/jquery.peity.min.js"></script> 
<script src="__STATIC__/admin/js/bootstrap-wysihtml5.js"></script>